{% extends '@layout/default.html.twig' %}

{% block title %}Teste{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green">teste page</span></h1>
        <p>
            {{ message }}
        </p>
    </div>

{% endblock %}
